/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/AWS-MACHINE-LEARNING-FOUNDATIONS-COURSE.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/vcs.xml
